
.navbar-default.affix .navbar-header .navbar-brand {
    color: #333;
    font-size: 14px;
}

hr {
    border-color: #333;
}

.btn-primary {
    background-color: #c9c7c6
}

hr.light {
    border-color: #333;
}

a {
    color: #333
}

.text-primary {
    color: #333
}

.bg-primary {
    background-color: #f8f8f8;
    color: #333;
}

.text-faded {
    color: #333;
}